@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    background: #f9f9fb;
    .container {
      font-family: "Open Sans";
      header {
        background: #064bb4;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 125px;
        font-family: inherit;
        .header_logo {
          padding-top: 23px;
          display: flex;
          gap: 11px;
          justify-content: center;
          align-items: center;
          font-family: inherit;
          img {
            cursor: pointer;
          }
          span {
            font-family: inherit;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.065em;
            color: #ffffff;
          }
        }
        nav {
          ul {
            padding-top: 31px;
            justify-content: center;
            align-items: center;
            display: flex;
            list-style-type: none;
            gap: 40px;
            li {
              a {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #ffffff;
                text-decoration: none;
                opacity: 0.56;
                transition: all 0.4s;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
        .header_icon {
          padding-top: 20px;
          align-items: center;
          justify-content: center;
          display: flex;
          gap: 16px;
          .header_icon_item {
            &:nth-of-type(1) {
              margin-right: 16px;
              cursor: pointer;
            }
            &:nth-of-type(2) {
              button {
                cursor: pointer;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.005em;
                color: #ffffff;
                background-color: #064bb4;
                padding: 12px 22px;
                border: 1px solid #ffffff;
                border-radius: 20px;
                transition: all 0.4s;
                &:hover {
                  background-color: #bcff5e;
                  color: #1c1c1e;
                  border: 1px solid #bcff5e;
                }
              }
            }
            &:nth-of-type(3) {
              button {
                cursor: pointer;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                padding: 12px 16px;
                background: #bcff5e;
                border: 1px solid #bcff5e;
                border-radius: 20px;
                transition: all 0.4s;
                &:hover {
                  background-color: transparent;
                  color: #ffffff;
                  border: 1px solid #ffffff;
                }
              }
            }
          }
        }
      }
      main {
        .section_one {
          padding-bottom: 98px;
          padding-left: 120px;
          background-color: #064bb4;
          .section_one_flex {
            display: flex;
            .section_one_flex_item {
              &:nth-of-type(1) {
                width: 46%;
                h2 {
                  z-index: 10;
                  position: relative;
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 72px;
                  line-height: 80px;
                  letter-spacing: 0.005em;
                  color: #ffffff;
                  padding-top: 92px;
                }
                p {
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.005em;
                  color: #c7c7cc;
                  padding-top: 16px;
                }
                button {
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.005em;
                  color: #1c1c1e;
                  background: #bcff5e;
                  border: 1px solid #bcff5e;
                  border-radius: 24px;
                  transition: all 0.4s;
                  padding: 16px 40px;
                  margin-top: 48px;
                  cursor: pointer;
                  &:hover {
                    background-color: transparent;
                    color: #ffffff;
                    border: 1px solid #ffffff;
                  }
                }
                .section_one_flex_item_child {
                  h5 {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.005em;
                    color: #ffffff;
                    padding-top: 80px;
                    padding-bottom: 24px;
                  }
                  .section_one_flex_item_child_row {
                    display: flex;
                    gap: 32px;
                    align-items: center;
                  }
                }
              }
              &:nth-of-type(2) {
                width: 54%;
                position: relative;
                .section_one_flex_item_child {
                  &:nth-of-type(1) {
                    position: relative;
                    img {
                      &:nth-of-type(1) {
                        margin-top: 50px;
                        width: 824px;
                        height: 949px;
                        object-fit: cover;
                        z-index: 1;
                        position: absolute;
                        left: -23%;
                      }
                      &:nth-of-type(2) {
                        position: absolute;
                        top: 290px;
                        left: -14%;
                        z-index: 0;
                      }
                      &:nth-of-type(3) {
                        position: absolute;
                        top: 475px;
                        left: 8%;
                        z-index: 2;
                      }
                    }
                  }
                  &:nth-of-type(2) {
                    position: absolute;
                    top: 31%;
                    z-index: 2;
                    left: 54%;
                    background: rgba(255, 255, 255, 0.12);
                    backdrop-filter: blur(10px);
                    border-radius: 12px;
                    padding: 12px;
                    h5 {
                      font-family: "Open Sans";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 22px;
                      letter-spacing: 0.005em;
                      color: #ffffff;
                      opacity: 0.8;
                      padding-top: 8px;
                    }
                    h4 {
                      font-family: "Open Sans";
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18px;
                      line-height: 26px;
                      letter-spacing: 0.005em;
                      color: #ffffff;
                      padding-top: 4px;
                    }
                  }
                  &:nth-of-type(3) {
                    z-index: 2;
                    position: absolute;
                    top: 81%;
                    left: 34%;
                    background: rgba(255, 255, 255, 0.12);
                    backdrop-filter: blur(10px);
                    border-radius: 12px;
                    padding: 12px;
                    h5 {
                      font-family: "Open Sans";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 22px;
                      letter-spacing: 0.005em;
                      color: #ffffff;
                      opacity: 0.8;
                      padding-top: 8px;
                    }
                    h4 {
                      font-family: "Open Sans";
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18px;
                      line-height: 26px;
                      letter-spacing: 0.005em;
                      color: #ffffff;
                      padding-top: 4px;
                    }
                  }
                }
              }
            }
          }
          .section_one_item {
            margin-top: 120px;
            z-index: 99;
            position: relative;
            display: flex;
            gap: 64px;
            .section_one_item_item {
              &:nth-of-type(1) {
                display: flex;
                border-radius: 20px;
                background: #ffffff;
                box-shadow: 64px 64px 80px rgba(8, 23, 45, 0.16);
                border-radius: 20px;
                .section_one_item_item_row {
                  padding: 24px;
                  h4 {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.005em;
                    color: #1c1c1e;
                    padding-top: 24px;
                  }
                  p {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.005em;
                    color: #636366;
                    padding-top: 12px;
                  }
                  h6 {
                    padding-top: 24px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 0.005em;
                    color: #1c1c1e;
                  }
                  // &:nth-of-type(1) {
                  // }
                  // &:nth-of-type(2) {
                  //   padding: 24px;
                  //   background: #bcff5e;
                  //   h4 {
                  //     font-family: "Open Sans";
                  //     font-style: normal;
                  //     font-weight: 500;
                  //     font-size: 20px;
                  //     line-height: 28px;
                  //     letter-spacing: 0.005em;
                  //     color: #1c1c1e;
                  //     padding-top: 24px;
                  //   }
                  //   p {
                  //     font-family: "Open Sans";
                  //     font-style: normal;
                  //     font-weight: 400;
                  //     font-size: 16px;
                  //     line-height: 24px;
                  //     letter-spacing: 0.005em;
                  //     color: #636366;
                  //     padding-top: 12px;
                  //   }
                  //   h6 {
                  //     padding-top: 24px;
                  //     display: flex;
                  //     align-items: center;
                  //     gap: 4px;
                  //     font-family: "Open Sans";
                  //     font-style: normal;
                  //     font-weight: 500;
                  //     font-size: 14px;
                  //     line-height: 22px;
                  //     letter-spacing: 0.005em;
                  //     color: #1c1c1e;
                  //   }
                  // }
                  // &:nth-of-type(3) {
                  //   padding: 24px;
                  //   h4 {
                  //     font-family: "Open Sans";
                  //     font-style: normal;
                  //     font-weight: 500;
                  //     font-size: 20px;
                  //     line-height: 28px;
                  //     letter-spacing: 0.005em;
                  //     color: #1c1c1e;
                  //     padding-top: 24px;
                  //   }
                  //   p {
                  //     font-family: "Open Sans";
                  //     font-style: normal;
                  //     font-weight: 400;
                  //     font-size: 16px;
                  //     line-height: 24px;
                  //     letter-spacing: 0.005em;
                  //     color: #636366;
                  //     padding-top: 12px;
                  //   }
                  //   h6 {
                  //     padding-top: 24px;
                  //     display: flex;
                  //     align-items: center;
                  //     gap: 4px;
                  //     font-family: "Open Sans";
                  //     font-style: normal;
                  //     font-weight: 500;
                  //     font-size: 14px;
                  //     line-height: 22px;
                  //     letter-spacing: 0.005em;
                  //     color: #1c1c1e;
                  //   }
                  // }
                  transition: all 0.4s;
                  &:hover {
                    // border-radius: 24px;
                    background: #bcff5e;
                    &:nth-of-type(1) {
                      border-top-left-radius: 24px;
                      border-bottom-left-radius: 24px;
                    }
                    &:nth-of-type(3) {
                      border-top-right-radius: 24px;
                      border-bottom-right-radius: 24px;
                    }
                  }
                }
              }
              &:nth-of-type(2) {
                h2 {
                  padding-top: 16px;
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 40px;
                  line-height: 48px;
                  letter-spacing: 0.005em;
                  color: #ffffff;
                }
                p {
                  padding-top: 16px;
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.005em;
                  color: #d1d1d6;
                }
              }
            }
          }
        }
        .section_two {
          padding-left: 120px;
          padding-top: 120px;
          h2 {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            letter-spacing: 0.005em;
            text-transform: capitalize;
            color: #1c1c1e;
          }
          .section_two_flex {
            padding-top: 56px;
            display: flex;
            gap: 48px;
            .section_two_flex_item {
              &:nth-of-type(1) {
                background-color: #ffffff;
                border-radius: 20px;
                padding: 32px 40px;
                p {
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 32px;
                  line-height: 40px;
                  letter-spacing: 0.005em;
                  color: #1c1c1e;
                  padding-top: 12px;
                }
                h6 {
                  display: flex;
                  align-items: center;
                  gap: 12px;
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 26px;
                  letter-spacing: 0.005em;
                  color: #1c1c1e;
                  &:nth-of-type(1) {
                    padding-top: 45px;
                  }
                  &:nth-of-type(2) {
                    padding-top: 34px;
                  }
                  &:nth-of-type(3) {
                    padding-top: 34px;
                  }
                }
                h5 {
                  padding-top: 45px;
                }
                button {
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.005em;
                  color: #1c1c1e;
                  padding: 16px 40px;
                  margin-top: 40px;
                  background: #bcff5e;
                  border-radius: 24px;
                  border: 1px solid #bcff5e;
                  transition: all 0.4s;
                  cursor: pointer;
                  &:hover {
                    background-color: transparent;
                    color: #bcff5e;
                  }
                }
              }
              &:nth-of-type(2) {
                width: 631px;
                height: 521px;
                img {
                  margin-top: 60px;
                  width: 100%;
                  height: 100%;
                  border-radius: 20px;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .section_three {
          display: flex;
          gap: 48px;
          padding-left: 120px;
          padding-bottom: 120px;
          padding-top: 120px;
          .section_three_item {
            &:nth-of-type(1) {
              width: 631px;
              height: 521px;
              img {
                margin-top: 60px;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                object-fit: cover;
              }
            }
            &:nth-of-type(2) {
              background-color: #ffffff;
              border-radius: 20px;
              padding: 32px 40px;
              p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                padding-top: 12px;
              }
              h6 {
                display: flex;
                align-items: center;
                gap: 12px;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                &:nth-of-type(1) {
                  padding-top: 45px;
                }
                &:nth-of-type(2) {
                  padding-top: 34px;
                }
                &:nth-of-type(3) {
                  padding-top: 34px;
                }
              }
              h5 {
                padding-top: 45px;
              }
              button {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                padding: 16px 40px;
                margin-top: 40px;
                background: #bcff5e;
                border-radius: 24px;
                border: 1px solid #bcff5e;
                transition: all 0.4s;
                cursor: pointer;
                &:hover {
                  background-color: transparent;
                  color: #bcff5e;
                }
              }
            }
          }
        }
        .section_four {
          padding-bottom: 120px;
          padding-top: 120px;
          button {
            cursor: pointer;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.005em;
            color: #064bb4;
            border: 1px solid #e9ebed;
            border-radius: 20px;
            padding: 8px 16px;
            display: flex;
            justify-content: center;
            margin: auto;
            transition: all 0.4s;
            &:hover {
              background-color: #064bb4;
              color: #e9ebed;
              border: 1px solid #064bb4;
            }
          }
          h2 {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            letter-spacing: 0.005em;
            color: #171725;
            padding-top: 16px;
          }
          .section_four_flex {
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 40px;
            padding-top: 43px;
            .section_four_flex_item {
              background: #ffffff;
              border-radius: 24px;
              border: 1px solid #ffffff;
              padding: 40px;
              h3 {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 48px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                display: flex;
                span {
                  display: flex;
                  align-items: bottom;
                  color: #aeaeb2;
                  font-size: 20px;
                  line-height: 28px;
                }
              }
              h4 {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.005em;
                color: #064bb4;
                padding-top: 12px;
              }
              span {
                display: flex;
                align-items: center;
                gap: 12px;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                &:nth-of-type(1) {
                  padding-top: 32px;
                }
                &:nth-of-type(2) {
                  padding-top: 36px;
                }
                &:nth-of-type(3) {
                  padding-top: 36px;
                }
              }
              button {
                cursor: pointer;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                background: #bcff5e;
                border-radius: 20px;
                padding: 12px 76px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                transition: all 0.4s;
                margin-top: 32px;
              }
              transition: all 0.4s;
              &:hover {
                transition: all 0.8s;
                background: #064bb4;
                border: 1px solid rgba(233, 235, 237, 0.16);
                border-radius: 24px;
                h3 {
                  color: #ffffff;
                }
                h4 {
                  color: #ffffff;
                }
                span {
                  color: #ffffff;
                  svg {
                    path {
                      fill: #bcff5e;
                    }
                  }
                }
              }
            }
          }
        }
        .section_five {
          padding-top: 120px;
          padding-bottom: 124px;
          .section_five_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              cursor: pointer;
              padding: 8px 16px;
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 0.005em;
              color: #064bb4;
              border: 1px solid #e9ebed;
              border-radius: 20px;
              transition: all 0.4s;
              &:hover {
                background-color: #064bb4;
                color: #e9ebed;
                border: 1px solid #064bb4;
              }
            }
          }
          h2 {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            letter-spacing: 0.005em;
            color: #171725;
            padding-top: 16px;
          }
          .section_five_carousel {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 308px;
            margin: auto;
            .section_five_carousel_item {
              margin: auto;
              top: 0;
              left: 31%;
              transition: all 0.4s;
              width: 100%;
              position: absolute;
              opacity: 0;
              h4 {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.005em;
                color: #aeaeb2;
                padding-top: 48px;
                position: relative;
                &::before {
                  position: absolute;
                  top: 55px;
                  left: -30px;
                  content: url("/./assets/image/section_five_vector.png");
                }
                &::after {
                  position: absolute;
                  top: 55px;
                  left: -55px;
                  content: url("/./assets/image/section_five_vector.png");
                }
              }
              p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.005em;
                color: #000000;
                padding-top: 16px;
              }
              .section_five_carousel_item_row {
                display: flex;
                align-items: center;
                gap: 12px;
                padding-top: 32px;
                .section_five_carousel_item_row_col {
                  &:nth-of-type(2) {
                    h5 {
                      font-family: "Open Sans";
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 24px;
                      letter-spacing: 0.005em;
                      color: #000000;
                    }
                    h6 {
                      padding-top: 4px;
                      font-family: "Open Sans";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 22px;
                      letter-spacing: 0.005em;
                      color: #000000;
                    }
                  }
                }
              }
            }
            .opacity {
              opacity: 1;
            }
          }
          .section_five_carousel_item_btn {
            padding-top: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            button {
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #f9f9fb;
              border: 1px solid #f9f9fb;
              transition: all 0.4s;
              &:hover {
                svg {
                  // width: 32px;
                  // height: 32px;
                  path {
                    fill: #1c1c1e;
                  }
                }
              }
              &:nth-of-type(2) {
                transform: rotate(180deg);
              }
            }
          }
        }
        .section_six {
          background: #064bb4;
          display: flex;
          padding-left: 120px;
          gap: 403px;
          .section_six_item {
            &:nth-of-type(1) {
              h2 {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 56px;
                letter-spacing: 0.005em;
                color: #ffffff;
                padding-top: 80px;
              }
              p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #ffffff;
                opacity: 0.64;
                padding-top: 16px;
                padding-bottom: 80px;
              }
            }
            &:nth-of-type(2) {
              display: flex;
              justify-content: center;
              align-items: center;
              button {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                background: #bcff5e;
                border: 1px solid #bcff5e;
                border-radius: 24px;
                padding: 16px 40px;
                transition: all 0.4s;
                cursor: pointer;
                &:hover {
                  background-color: transparent;
                  color: #ffffff;
                  border: 1px solid #ffffff;
                }
              }
            }
          }
        }
      }
      footer {
        background: #08172d;
        display: flex;
        padding-top: 120px;
        padding-left: 120px;
        gap: 87px;
        .footer_item {
          &:nth-of-type(1) {
            .footer_logo {
              display: flex;
              align-items: center;
              gap: 6px;
              img {
                cursor: pointer;
              }
              span {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.065em;
                color: #ffffff;
              }
            }
            .footer_item_text {
              p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #aeaeb2;
                padding-top: 16px;
              }
            }
          }
          &:nth-of-type(2) {
            .footer_item_child {
              ul {
                display: flex;
                gap: 40px;
                li {
                  list-style-type: none;
                  a {
                    text-decoration: none;
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.005em;
                    color: #c5c5c5;
                    transition: all 0.4s;
                    &:hover {
                      color: #bcff5e;
                    }
                  }
                }
              }
              &:nth-of-type(2) {
                padding-top: 32px;
                display: flex;
                justify-content: center;
              }
            }
          }
          &:nth-of-type(3) {
            span {
              font-family: "Open Sans";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              display: flex;
              align-items: center;
              letter-spacing: 0.5px;
              color: #8e8e93;
            }
            .footer_item_btn {
              display: flex;
              gap: 16px;
              padding-top: 16px;
              button {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #1c1c1e;
                padding: 16px 32px;
                background: #bcff5e;
                border-radius: 32px;
                border: 1px solid #bcff5e;
                cursor: pointer;
                transition: all 0.4s;
                &:hover {
                  background-color: #08172d;
                  color: #bcff5e;
                  border: 1px solid #bcff5e;
                }
              }
              input {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #cbcbcb;
                background: rgba(255, 255, 255, 0.12);
                border: 1px solid rgba(255, 255, 255, 0.12);
                border-radius: 32px;
                cursor: pointer;
                padding-left: 32px;
                transition: all 0.4s;
                outline: #bcff5e;
                &:hover {
                  background-color: transparent;
                  color: #bcff5e;
                }
              }
            }
          }
        }
      }
      .footer_icon {
        padding-bottom: 24px;
        background: #08172d;
        padding-left: 120px;
        padding-top: 96px;
        .footer_icon_flex {
          display: flex;
          gap: 220px;
          .footer_icon_flex_row {
            &:nth-of-type(1) {
              span {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.005em;
                color: #aeaeb2;
                padding-top: 32px;
                display: flex;
                align-items: center;
              }
            }
            &:nth-of-type(2) {
              display: flex;
              gap: 15px;
              padding-top: 24px;
              align-items: center;
              .footer_icon_flex_row_col {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.12);
                span {
                  padding: 13px 16px;
                  border-radius: 50%;
                  transition: all 0.4s;
                }
                transition: all 0.4s;
                &:hover {
                  background-color: #fff;
                  border: 1px solid #fff;
                  span {
                    svg {
                      path {
                        fill: #08172d;
                      }
                    }
                  }
                }
              }
            }
            &:nth-of-type(3) {
              display: flex;
              gap: 40px;
              padding-top: 32px;
              span {
                a {
                  text-decoration: none;
                  font-family: "Open Sans";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  letter-spacing: 0.005em;
                  color: #c5c5c5;
                  transition: all 0.4s;
                  &:hover {
                    color: #bcff5e;
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (min-width: 1440px) {
        width: 1440px;
        margin: auto;
      }
    }
  }
}
